Repository ejgallego/rocq-lsp, pull requests merged in 2022-12, with the labels that each got.

#93 [ci] Support OCaml 4.12 onwards
  .github/workflows/build.yml
  CHANGES.md
  coq-lsp.opam
  dune-project
Labels: part: build, part: test-suite, part: packaging

#99 [lsp] Don't replay full LSP methods on checking resumption
  controller/coq_lsp.ml
Labels: part: server, kind: fix

#101 README: remove bogus instruction
  README.md
Labels: kind: fix, part: documentation

#104 [eager diagnostics] Only send diagnostics when they have changed
  CHANGES.md
  fleche/doc.ml
  fleche/doc.mli
Labels: kind: enhancement, part: server, part: protocol (LSP)

#102 Cleanup Typescript files using Prettier
  .vscode/settings.json
  editor/code/src/client.ts
  editor/code/src/goals.ts
Labels: kind: cleanup

#105 coq.tmLanguage: update from vscoq upstream, convert to json
  CHANGES.md
  editor/code/package.json
  editor/code/syntaxes/coq.json
  editor/code/syntaxes/coq.tmLanguage
Labels: part: client, kind: cleanup

#95 [fleche] Resumption of document checking
  CHANGES.md
  controller/coq_lsp.ml
  coq/state.ml
  fleche/doc.ml
  fleche/info.ml
  fleche/info.mli
Labels: kind: enhancement, part: server

#112 [fleche] Store diagnostics per node, create nodes for unparseable spans
  controller/coq_lsp.ml
  coq/ast.ml
  coq/ast.mli
  fleche/doc.ml
  fleche/doc.mli
  fleche/info.ml
  fleche/info.mli
Labels: part: server, kind: cleanup

#113 [diagnostics] Don't convert Coq "Info" messages to feedbacks
  CHANGES.md
  controller/coq_lsp.ml
  editor/code/package.json
  fleche/config.ml
Labels: kind: enhancement, part: client, part: server, part: protocol (LSP)

#114 [code] Register `coq-lsp.goals` as a TextEditor Command
  editor/code/src/client.ts
Labels: part: client, kind: cleanup

#106 [check] Implement `fileProgress` notification for document progress
  CHANGES.md
  README.md
  controller/coq_lsp.ml
  editor/code/package-lock.json
  editor/code/package.json
  editor/code/src/client.ts
  editor/code/src/goals.ts
  editor/code/src/progress.ts
  etc/doc/PROTOCOL.md
  fleche/debug.ml
  fleche/doc.ml
  fleche/doc.mli
  fleche/info.ml
  fleche/io.ml
  fleche/io.mli
  fleche/types.ml
  fleche/types.mli
  lsp/base.ml
Labels: part: client, part: server, part: protocol (custom)

#116 [goals] Show goals on click (+ configuration options).
  CHANGES.md
  editor/code/package.json
  editor/code/src/client.ts
  editor/code/src/goals.ts
Labels: kind: enhancement, part: client, part: goals

#115 [goals] Display position for goals, handle multiple goals better.
  CHANGES.md
  controller/coq_lsp.ml
  editor/code/media/styles.css
  editor/code/src/client.ts
  editor/code/src/goals.ts
  etc/doc/PROTOCOL.md
Labels: part: client, part: protocol (custom), part: goals

#117 [fleche] Remove hack for error recovery state
  fleche/doc.ml
Labels: part: server, kind: cleanup

#111 [fleche] Resume checking from common prefix on new version.
  CHANGES.md
  fleche/doc.ml
Labels: kind: enhancement, part: server

#120 [lsp] Only serve request when the document meta-data is up to date.
  CHANGES.md
  controller/coq_lsp.ml
  fleche/info.ml
  fleche/info.mli
  lsp/base.ml
  lsp/base.mli
Labels: kind: enhancement, part: server, part: protocol (LSP), part: goals

#127 [hover] Send range in hover request.
  controller/coq_lsp.ml
Labels: kind: enhancement, part: server, part: protocol (LSP)

#126 [init] Check that the client and server version do match.
  CHANGES.md
  README.md
  controller/coq_lsp.ml
  editor/code/CHANGELOG.md
  editor/code/src/client.ts
  fleche/config.ml
Labels: part: client, part: server, part: protocol (custom), kind: fix
