Repository ejgallego/rocq-lsp, pull requests merged in 2023-09, with the labels that each got.

#536 [doc] Add Python client to README
  README.md
  etc/release_notes/v0.1.7.md
Labels: part: documentation

#545 doc: add info on updating nix flake
  CONTRIBUTING.md
Labels: part: documentation, kind: internal

#547 [lsp] Fix bug when retrieving URIs from document params
  CHANGES.md
  controller/lsp_core.ml
  lsp/doc.ml
Labels: kind: bug, part: lsp server, part: protocol (custom), part: protocol (LSP), kind: fix, needs: test-case

#539 Color changes for light color themes.
  CHANGES.md
  editor/code/views/info/media/coqpp.css
Labels: kind: enhancement, part: client (VSCode), kind: fix, part: goals and info panel, kind: HCI design

#551 [ci] Fix test suite on Windows
  .github/workflows/build.yml
  Makefile
Labels: part: build, part: test-suite, kind: fix, part: CI

#553 [doc] [nix] [readme] Update Nix documentation
  CONTRIBUTING.md
  README.md
Labels: kind: enhancement, part: documentation, os: nix

#554 [readme] [doc] [windows] Updated README for new Coq Platform
  README.md
Labels: kind: enhancement, part: documentation, platform: windows

#555 [fcc] Understand arguments for Coq environment
  CHANGES.md
  compiler/args.ml
  compiler/driver.ml
  compiler/fcc.ml
Labels: kind: enhancement, part: workspace setup, part: compiler

#556 [coq] Output findlib workspace status in workspace describe.
  CHANGES.md
  compiler/driver.ml
  coq/workspace.ml
  test/compiler/run.t
Labels: kind: enhancement, part: lsp server, kind: internal, part: workspace setup, part: compiler

#557 [coq] [loader] Don't swallow plugin loading errors.
  CHANGES.md
  coq/loader.ml
Labels: part: lsp server, kind: fix, kind: internal, part: upstream, part: compiler, part: Coq API

#560 [readme] Move Nix dev instructions to the dev build.
  CONTRIBUTING.md
  README.md
Labels: part: documentation, os: nix

#559 [doc] Add pointers to Windows installers
  CHANGES.md
  CONTRIBUTING.md
  README.md
Labels: kind: enhancement, part: packaging, kind: upstream, platform: windows

#561 [fleche] [coq] Recognize `Goal` and `Definition $id : ... .` as proof starters
  CHANGES.md
  examples/goals.v
  fleche/doc.ml
Labels: kind: enhancement, kind: fix, part: flèche
