Repository ejgallego/rocq-lsp, pull requests merged in 2023-11, with the labels that each got.

#597 [hover] Fix `get_id_at_point` in the presence of Unicode chars
  CHANGES.md
  controller/rq_common.ml
  examples/unicode2.v
Labels: part: lsp server, part: protocol (LSP), kind: fix, needs: test-case, lsp: hover

#599 [vscode] Require VSCode >= 1.82
  CHANGES.md
  editor/code/package.json
Labels: part: client (VSCode), kind: fix, part: packaging

#600 [goals] Allow goal mode as LSP parameter, internals
  CHANGES.md
  controller/lsp_core.ml
  controller/rq_goals.ml
  controller/rq_goals.mli
  editor/code/lib/types.ts
  etc/doc/PROTOCOL.md
Labels: kind: enhancement, part: lsp server, part: protocol (custom), kind: internal, lsp: goals

#601 [internal] [request] Refactor handling of Coq execution in requests
  controller/request.ml
  controller/request.mli
  controller/rq_goals.ml
  controller/rq_hover.ml
  controller/rq_save.ml
  coq/protect.ml
  coq/protect.mli
  coq/state.ml
  coq/state.mli
  fleche/info.ml
  fleche/info.mli
Labels: part: lsp server, kind: cleanup, kind: internal

#602 [internal] Minor queue / event refactoring
  controller/lsp_core.ml
  fleche/theory.ml
Labels: part: lsp server, kind: cleanup, kind: internal

#603 [memo] Fix some cases where interrupted computations where memoized.
  CHANGES.md
  coq/interp.ml
  coq/interp.mli
  fleche/memo.ml
  fleche/memo.mli
Labels: kind: fix, kind: internal, part: flèche

#605 [fleche] Store document environment in [Doc.t]
  compiler/compile.ml
  controller/lsp_core.ml
  fleche/doc.ml
  fleche/doc.mli
  fleche/theory.ml
  fleche/theory.mli
Labels: kind: enhancement, part: lsp server, kind: cleanup, kind: internal, part: flèche

#604 [internal] [fleche] Absorb errors on document creation and update.
  CHANGES.md
  fleche/contents.ml
  fleche/contents.mli
  fleche/doc.ml
  fleche/doc.mli
  fleche/theory.ml
  test/server/todo.md
Labels: kind: enhancement, kind: cleanup, kind: internal, part: workspace setup, part: plugin API, part: flèche

#607 [ci] Test OCaml 5.1 series
  .github/workflows/build.yml
  CHANGES.md
Labels: kind: enhancement, part: build, part: packaging, part: CI, kind: internal

#606 [fleche] update progress indicator correctly on End Of File
  CHANGES.md
  examples/comments_end.v
  fleche/doc.ml
Labels: part: protocol (custom), kind: fix, kind: upstream-bug, part: flèche

#608 [plugins] AST dump plugin
  CHANGES.md
  plugins/astdump/dune
  plugins/astdump/main.ml
  test/compiler/proj1/a.v
  test/compiler/run.t
Labels: kind: enhancement, part: plugins

#609 [test] [compiler] Fix replacement text when FCC_TEST
  compiler/driver.ml
  test/compiler/run.t
Labels: part: test-suite, kind: fix, kind: internal, part: compiler

#610 [save] [internal] Protect save operation properly.
  CHANGES.md
  coq/save.ml
  coq/save.mli
  fleche/doc.ml
Labels: part: lsp server, part: protocol (custom), kind: fix, kind: internal, part: Coq API

#595 [doc] Release notes for 0.1.8
  etc/release_notes/v0.1.8.md
Labels: part: packaging, part: documentation, kind: meta

#615 [config] set `goal_after_tactic` default to `true`
  CHANGES.md
  fleche/config.ml
Labels: part: lsp server, part: protocol (custom), part: goals and info panel, kind: internal, lsp: goals, part: config

#616 [error recovery] Recognize `Defined` and `Admitted` in lex recovery
  CHANGES.md
  fleche/doc.ml
Labels: kind: enhancement, part: flèche, part: error recovery

#618 [internal] Make diagnostic / messages severity types abstract
  compiler/compile.ml
  compiler/driver.ml
  controller/coq_lsp.ml
  controller/rq_goals.ml
  coq/init.ml
  coq/message.ml
  coq/message.mli
  fleche/doc.ml
  fleche/doc.mli
  fleche/io.ml
  fleche/io.mli
  fleche/theory.ml
  lang/diagnostic.ml
  lang/diagnostic.mli
  lsp/jLang.ml
  plugins/astdump/main.ml
  plugins/simple/main.ml
  test/compiler/run.t
Labels: part: lsp server, kind: cleanup, kind: internal, part: plugin API, part: flèche

#613 Follow LSP and treat positions as UTF16 code units
  .github/workflows/build.yml
  CHANGES.md
  Makefile
  controller/rq_completion.ml
  coq-lsp.opam
  coq/utf8.ml
  coq/utf8.mli
  examples/utf16.v
  flake.nix
  test/unit_test/dune
  test/unit_test/utf16_pos.ml
Labels: part: lsp server, part: protocol (LSP), kind: fix, request: completion, lsp: completion

#623 Use ppx_inline_test for unit tests
  coq-lsp.opam
  coq/dune
  coq/utf8.ml
  flake.nix
  test/unit_test/dune
  test/unit_test/utf16_pos.ml
Labels: part: test-suite, part: lsp server, kind: cleanup

#625 [code] Don't trigger goals buffer action in general Markdown documents
  CHANGES.md
  editor/code/src/client.ts
  editor/code/src/config.ts
  editor/code/src/progress.ts
Labels: part: client (VSCode), kind: fix
