Repository ejgallego/rocq-lsp, pull requests merged in 2023-06, with the labels that each got.

#494 Adapt to coq/coq#17696 (exposed Mltop.load_module)
  coq/init.ml
Labels: kind: upstream, part: upstream

#499 [test] Some new test cases + small structure rework.
  CONTRIBUTING.md
  Makefile
  examples/coreact.mv
  test/CoqProject/_CoqProject
  test/CoqProject/test.v
  test/README.md
  test/interrupt/T2048.v
  test/interrupt/bug_484.v
  test/interrupt/bug_487.v
  test/server/jest.config.js
  test/server/package-lock.json
  test/server/package.json
  test/server/src/Check.test.ts
  test/server/src/LanguageServer.ts
  test/server/src/Lifecycle.test.ts
  test/server/tsconfig.json
Labels: kind: enhancement, part: test-suite, kind: cleanup

#500 [workspace] Apply warning settings from _CoqProject
  CHANGES.md
  coq/workspace.ml
  coq/workspace.mli
Labels: kind: fix, part: workspace setup

#503 [getDocument] Be more resilient on unknown ASTs
  CHANGES.md
  lsp/jCoq.ml
Labels: part: server, part: protocol (custom), kind: fix, kind: internal

#502 update nix flake
  flake.lock
Labels: needs: fixing, kind: fix, part: CI

#511 [coq] Don't link the STM
  CHANGES.md
  coq/dune
Labels: part: server, kind: upstream, kind: cleanup, kind: internal

#513 [fleche] Abstract IO callbacks from LSP transport detail.
  controller/coq_lsp.ml
  controller/lsp_core.ml
  controller/lsp_core.mli
  controller/perf.ml
  controller/request.ml
  controller/request.mli
  editor/code/lib/types.ts
  fleche/doc.ml
  fleche/doc.mli
  fleche/io.ml
  fleche/io.mli
  fleche/perf.ml
  fleche/perf.mli
  fleche/perf_analysis.ml
  fleche/perf_analysis.mli
  fleche/progress.ml
  fleche/theory.ml
  fleche/theory.mli
  lsp/jFleche.ml
  lsp/jFleche.mli
Labels: part: server, kind: cleanup, kind: internal

#515 [nit] Rename some Fleche.Io interface names
  controller/coq_lsp.ml
  fleche/io.ml
  fleche/io.mli
Labels: kind: internal, part: flèche

#517 [protocol] Rework verbosity into more granular options.
  CHANGES.md
  controller/coq_lsp.ml
  fleche/config.ml
  fleche/theory.ml
Labels: part: lsp server, part: protocol (LSP), kind: cleanup, kind: internal, part: flèche

#518 [fleche] Add preliminary Document Completion hook
  fleche/doc.ml
  fleche/doc.mli
  fleche/theory.ml
Labels: kind: enhancement, part: protocol (LSP), kind: redesign, part: flèche, part: plugins

#519 [vscode] Register `.mv` files as markdown files
  CHANGES.md
  editor/code/package-lock.json
  editor/code/package.json
  editor/code/src/client.ts
  editor/code/src/progress.ts
  editor/code/syntaxes/coqmarkdown.json
Labels: kind: enhancement, part: client, kind: fix
