Repository ejgallego/rocq-lsp, pull requests merged in 2024-06, with the labels that each got.

#743 [deps] Bump upper bound on JS libs to 0.18
  coq-lsp.opam
Labels: kind: enhancement, part: build, part: deps, kind: internal

#747 [fleche] Remove FailedPermanent 8.16 hack
  compiler/compile.ml
  controller/rq_document.ml
  fleche/doc.ml
  fleche/doc.mli
  fleche/theory.ml
  test/serlib/genarg/dune
Labels: kind: upstream, kind: cleanup, kind: internal, kind: upstream-bug, part: upstream, part: flèche, part: Coq API

#749 [fleche] Some minor refactorings in theory.ml
  fleche/theory.ml
Labels: kind: cleanup, part: flèche

#748 [fleche] Preserve view hint across document changes.
  CHANGES.md
  fleche/theory.ml
Labels: kind: enhancement, part: protocol (LSP), kind: HCI design, part: flèche

#751 [coq] [memo] Better parameters for polymorphic state hashing
  CHANGES.md
  coq/state.ml
Labels: kind: enhancement, kind: internal, kind: performance, part: flèche

#744 [fleche] Caching / sharing of .vo contents
  CHANGES.md
  controller/nt_cache_trim.ml
  coq/init.ml
  coq/init.mli
  coq/interp.ml
  coq/interp.mli
  coq/workspace.ml
  coq/workspace.mli
  fleche/doc.ml
  fleche/memo.ml
  fleche/memo.mli
Labels: kind: upstream, part: upstream, kind: performance, part: flèche

#754 Fix help printing
  CHANGES.md
  coq/args.ml
  flake.nix
Labels: kind: enhancement, part: lsp server, kind: fix, part: documentation

#755 [code] Fix focus race when a Coq file is in column 2
  CHANGES.md
  editor/code/src/goals.ts
Labels: part: client (VSCode), kind: fix

#757 [lsp] Strengthen API, improve invariants.
  controller/coq_lsp.ml
  lsp/io.ml
  lsp/io.mli
  petanque/json_shell/client.ml
  petanque/json_shell/interp.ml
  petanque/json_shell/pet.ml
  petanque/json_shell/server.ml
Labels: part: lsp server, kind: internal

#762 [lsp] Jump to definition for non-local definitions
  CHANGES.md
  controller/rq_common.ml
  controller/rq_common.mli
  controller/rq_definition.ml
  controller/rq_hover.ml
  coq/compat.ml
  coq/compat.mli
  coq/glob.ml
  coq/glob.mli
  etc/doc/PROTOCOL.md
  examples/Pff.v
  petanque/agent.ml
Labels: kind: enhancement, part: lsp server, part: protocol (LSP), part: Coq API

#764 [definition] Try to also recognize module names.
  CHANGES.md
  controller/rq_definition.ml
Labels: kind: enhancement, part: lsp server, part: protocol (LSP), lsp: definition

#766 [petanque] Allow `init` to be called multiple times
  CHANGES.md
  petanque/agent.ml
  petanque/test/basic_api.ml
Labels: kind: enhancement, part: petanque

#768 [petanque] Use lighter goal query on run_tac
  CHANGES.md
  fleche/info.ml
  fleche/info.mli
  petanque/agent.ml
Labels: kind: enhancement, part: goals and info panel, kind: performance, part: petanque

#769 [petanque] Allow to instrument with extra commands before proof start
  CHANGES.md
  petanque/agent.ml
  petanque/agent.mli
  petanque/json_shell/protocol.ml
  petanque/test/basic_api.ml
  petanque/test/json_api.ml
  petanque/test/json_api_failure.ml
Labels: kind: enhancement, part: petanque

#770 [petanque] Improvements on protocol handling
  CHANGES.md
  petanque/agent.ml
  petanque/agent.mli
  petanque/json_shell/interp.ml
  petanque/json_shell/obj_map.ml
  petanque/json_shell/pet.ml
  petanque/json_shell/protocol.ml
  petanque/json_shell/server.ml
Labels: kind: enhancement, kind: cleanup, part: petanque

#771 [petanque] Make core protocol independent of Coq env runtime
  CHANGES.md
  CONTRIBUTING.md
  controller/coq_lsp.ml
  lsp/core.ml
  lsp/core.mli
  lsp/io.ml
  lsp/io.mli
  lsp/jLang.ml
  lsp/jLang.mli
  petanque/README.md
  petanque/agent.ml
  petanque/agent.mli
  petanque/json_shell/client.ml
  petanque/json_shell/client.mli
  petanque/json_shell/dune
  petanque/json_shell/interp.ml
  petanque/json_shell/jAgent.ml
  petanque/json_shell/pet.ml
  petanque/json_shell/protocol.ml
  petanque/json_shell/protocol_shell.ml
  petanque/json_shell/server.ml
  petanque/json_shell/utils.ml
  petanque/shell.ml
  petanque/shell.mli
  petanque/test/basic_api.ml
  petanque/test/json_api.ml
  petanque/test/json_api_failure.ml
Labels: kind: enhancement, kind: redesign, part: petanque

#666 [hover] Display debug statistic for universes
  CHANGES.md
  controller/rq_hover.ml
  controller/rq_hover.mli
  coq/state.ml
  coq/state.mli
  editor/code/package.json
  editor/code/src/config.ts
  fleche/config.ml
Labels: kind: upstream, kind: internal, lsp: hover, kind: upstream-bug, part: upstream, kind: performance

#774 [fleche] Support `Abort All`.
  CHANGES.md
  coq/ast.ml
  coq/ast.mli
  coq/state.ml
  coq/state.mli
  examples/MetaCommands.v
  fleche/doc.ml
Labels: kind: fix, kind: upstream, kind: upstream-bug, part: upstream, part: flèche

#773 [plugin] Debug plugin for printing universe deltas in files.
  CHANGES.md
  plugins/univdiff/dune
  plugins/univdiff/main.ml
  plugins/univdiff/main.mli
Labels: kind: upstream, kind: internal, part: upstream, kind: performance, part: plugins

#777 [refactor] Consolidation of auxiliary functions.
  compiler/compile.ml
  compiler/driver.ml
  controller/cache.ml
  controller/coq_lsp.ml
  controller/lsp_core.ml
  controller/lsp_core.mli
  controller/nt_cache_trim.ml
  controller/nt_cache_trim.mli
  controller/rq_common.ml
  controller/rq_init.ml
  controller/rq_init.mli
  coq/compat.ml
  coq/compat.mli
  fleche/contents.ml
  fleche/doc.ml
  fleche/info.ml
  fleche/io.ml
  fleche/io.mli
  fleche/theory.ml
  lang/lUri.ml
  lang/lUri.mli
  lsp/io.ml
  lsp/io.mli
  petanque/json_shell/pet.ml
  plugins/astdump/main.ml
  plugins/goaldump/main.ml
  plugins/simple/main.ml
  plugins/univdiff/main.ml
  test/compiler/basic/run.t
Labels: part: lsp server, kind: cleanup, kind: internal, part: flèche

#780 [petanque] Allow memoization control on `petanque/run`
  CHANGES.md
  petanque/agent.ml
  petanque/agent.mli
  petanque/json_shell/protocol.ml
  petanque/test/basic_api.ml
  petanque/test/json_api.ml
  petanque/test/json_api_failure.ml
Labels: kind: enhancement, part: petanque

#779 [cleanup] Follow-up for #777 , update a few missing places for new API
  compiler/compile.ml
  compiler/driver.ml
  controller/lsp_core.ml
  fleche/io.ml
  fleche/io.mli
Labels: part: lsp server, kind: cleanup, kind: internal

#778 [lsp] [petanque] Allow access to `petanque` protocol from the lsp server
  CHANGES.md
  controller/dune
  controller/lsp_core.ml
  editor/code/lib/types.ts
  editor/code/package.json
  editor/code/src/client.ts
  editor/code/src/petanque.ts
  examples/petanque.v
  fleche/theory.ml
  fleche/theory.mli
  petanque/README.md
  petanque/agent.ml
  petanque/agent.mli
  petanque/json_shell/interp.ml
  petanque/json_shell/pet.ml
  petanque/json_shell/protocol.ml
  petanque/json_shell/protocol_shell.ml
  petanque/json_shell/server.ml
  petanque/shell.ml
  petanque/shell.mli
  petanque/test/basic_api.ml
Labels: kind: enhancement, part: lsp server, part: protocol (custom), part: petanque

#782 [petanque] Always initialize default workspace.
  CHANGES.md
  petanque/agent.ml
  petanque/agent.mli
  petanque/shell.ml
Labels: kind: fix, part: petanque

#784 [petanque] Remove duplicity between lsp and pet-server handler.
  controller/lsp_core.ml
  petanque/json_shell/interp.ml
Labels: kind: fix, kind: internal, part: petanque

#786 [api] Move CoqModule from `controller` to `coq`
  controller/rq_common.ml
  controller/rq_common.mli
  controller/rq_definition.ml
  controller/rq_hover.ml
  coq/module.ml
  coq/module.mli
Labels: kind: cleanup, kind: internal, part: Coq API

#783 [petanque] New methods `state/eq` and `state/hash`
  CHANGES.md
  coq/goals.ml
  coq/goals.mli
  petanque/agent.ml
  petanque/agent.mli
  petanque/json_shell/interp.ml
  petanque/json_shell/jAgent.ml
  petanque/json_shell/protocol.ml
  petanque/test/basic_api.ml
  petanque/test/json_api.ml
  petanque/test/json_api_failure.ml
Labels: kind: enhancement, part: Coq API, part: petanque

#787 [coq] Refactor goals type to use standard `Module_foo.t` style.
  coq/goals.ml
  coq/goals.mli
  fleche/info.mli
  lsp/jCoq.ml
  petanque/agent.ml
Labels: kind: cleanup, kind: internal, part: Coq API

#788 [petanque] Some refactoring in interp, better types and API + fix
  controller/lsp_core.ml
  petanque/json_shell/client.ml
  petanque/json_shell/client.mli
  petanque/json_shell/interp.ml
  petanque/json_shell/interp.mli
  petanque/json_shell/interp_shell.ml
  petanque/json_shell/interp_shell.mli
  petanque/json_shell/pet.ml
  petanque/json_shell/server.ml
  petanque/test/json_api.ml
  petanque/test/json_api_failure.ml
Labels: kind: fix, kind: cleanup, kind: internal, part: petanque

#789 [petanque] Split `pet-*` shell-specific functionality to its own library
  controller/lsp_core.ml
  petanque/json/dune
  petanque/json/interp.ml
  petanque/json/interp.mli
  petanque/json/jAgent.ml
  petanque/json/obj_map.ml
  petanque/json/protocol.ml
  petanque/json_shell/client.ml
  petanque/json_shell/client.mli
  petanque/json_shell/dune
  petanque/json_shell/interp_shell.ml
  petanque/json_shell/pet.ml
  petanque/json_shell/protocol_shell.ml
  petanque/json_shell/server.ml
  petanque/json_shell/shell.ml
  petanque/json_shell/shell.mli
  petanque/test/basic_api.ml
  petanque/test/dune
  petanque/test/json_api.ml
  petanque/test/json_api_failure.ml
Labels: kind: cleanup, part: petanque

#791 [petanque] Make `start` type more consistent with `run`
  petanque/agent.ml
  petanque/agent.mli
  petanque/json/protocol.ml
  petanque/test/basic_api.ml
  petanque/test/json_api.ml
  petanque/test/json_api_failure.ml
Labels: kind: enhancement, kind: cleanup

#781 [coq] Adapt to coq/coq#19193
  coq/parsing.ml
  coq/state.mli
Labels: kind: upstream, part: upstream

#792 Adapt to change of types in Coq PR #19107.
  coq/ast.ml
  serlib/ser_constrexpr.ml
  serlib/ser_constrexpr.mli
  serlib/ser_vernacexpr.ml
  serlib/ser_vernacexpr.mli
Labels: kind: upstream, part: upstream, part: serlib

#796 Adapt to Coq PR #19185: flattenting of global_declaration indirection.
  serlib/ser_safe_typing.ml
  serlib/ser_safe_typing.mli
Labels: kind: upstream, part: upstream, part: serlib
