Repository ejgallego/rocq-lsp, pull requests merged in 2024-09, with the labels that each got.

#819 [workspace] [coq] Support _CoqProject arguments `-type-in-type` and `allow-rewrite-rules` (for 8.20)
  CHANGES.md
  coq/workspace.ml
  coq/workspace.mli
Labels: kind: bug, kind: enhancement, kind: fix, kind: upstream, part: workspace setup, part: config

#820 [serlib] Support for ltac2_ltac1 plugin
  CHANGES.md
  coq/loader.ml
  serlib/plugins/ltac2_ltac1/dune
  serlib/plugins/ltac2_ltac1/ser_tac2quote_ltac1.ml
Labels: kind: enhancement, part: serlib

#821 [serlib] Fix wrong piercing of Ltac2 AST + test case
  CHANGES.md
  examples/ItHolds.v
  serlib/plugins/ltac2/ser_tac2expr.ml
  test/serlib/genarg/ItHolds.v
  test/serlib/genarg/dune
Labels: kind: fix, kind: upstream, kind: upstream-bug, part: upstream, part: serlib

#825 [coq] Understand rewrite rules and symbols on document outline
  CHANGES.md
  coq/ast.ml
  examples/rewrite/_CoqProject
  examples/rewrite/simple.v
Labels: kind: enhancement, part: lsp server, part: protocol (LSP), part: Coq API

#828 [coq] [fleche] Support `Restart` command.
  CHANGES.md
  coq/ast.ml
  coq/ast.mli
  examples/MetaCommands.v
  fleche/doc.ml
Labels: kind: enhancement, kind: fix, part: flèche, part: Coq API

#831 [nits] Minor refactorings and tweaks from the JS branch.
  controller/coq_lsp.ml
  controller/lsp_core.ml
  controller/lsp_core.mli
  coq/workspace.mli
  editor/code/src/goals.ts
  examples/documentSymbol.v
Labels: part: lsp server, kind: cleanup, kind: internal

#776 [doc] Some tweaks to PROTOCOL.md documentation.
  etc/doc/PROTOCOL.md
Labels: kind: enhancement, part: documentation

#832 [fleche] Highlight the full first line of the document on initialization error.
  CHANGES.md
  fleche/doc.ml
Labels: kind: enhancement, kind: HCI design, part: flèche

#834 Utils.with_control use VernacControl (adapt to coq/coq#19517 adding a control flag)
  coq/utils.ml
Labels: kind: fix, kind: upstream, kind: cleanup, kind: upstream-bug, part: upstream, part: Coq API

#837 [args] [coq] Allow to set ocamlpath and findlib init file separately.
  compiler/fcc.ml
  controller/coq_lsp.ml
  coq/args.ml
  coq/args.mli
  coq/workspace.ml
  coq/workspace.mli
  petanque/json_shell/shell.ml
  test/compiler/basic/run.t
  test/compiler/exit_code/run.t
  test/compiler/long_file/run.t
Labels: kind: internal, part: Coq API

#838 [coq] [init] Allow init to tweak VM mode and warnings.
  compiler/driver.ml
  controller/coq_lsp.ml
  coq/init.ml
  coq/init.mli
  petanque/json_shell/shell.ml
Labels: kind: enhancement, kind: internal, part: Coq API

#433 [controller] [js] Initial javascript JSSO controller
  .github/workflows/build.yml
  .gitignore
  CHANGES.md
  CONTRIBUTING.md
  Makefile
  controller-js/README.md
  controller-js/coq_lsp_worker.ml
  controller-js/coq_lsp_worker.mli
  controller-js/dune
  controller-js/js_stub/coq_perf.js
  controller-js/js_stub/coq_vm.js
  controller-js/js_stub/interrupt.js
  controller-js/js_stub/marshal32.js
  controller-js/js_stub/marshal64.js
  controller-js/js_stub/mutex.js
  controller-js/js_stub/unix.js
  controller-js/my_dynload.ml
  controller-js/my_dynload.mli
  editor/code/src/browser.ts
  etc/0001-coq-lsp-patch.patch
  etc/0001-jscoq-lib-system.ml-de-unix-stat.patch
  etc/META.threads
  examples/documentSymbol.v
  flake.nix
Labels: kind: enhancement, part: build, part: client (VSCode), part: lsp server, part: CI, needs: changes entry, part: web worker

#839 [hover] Fix universe printing in hover.
  CHANGES.md
  controller/rq_hover.ml
  examples/print_univs.v
Labels: kind: fix, lsp: hover, part: upstream

#841 [fleche] New immediate request serving mode.
  CHANGES.md
  controller/lsp_core.ml
  controller/request.ml
  controller/request.mli
  fleche/theory.ml
  fleche/theory.mli
Labels: kind: enhancement, part: protocol (LSP), kind: redesign, part: flèche

#842 [ci] [worker] Make the build flexible for non-vendored setups.
  Makefile
  controller-js/dune
Labels: part: CI, kind: internal

#843 [lang] Move `Lang.Diagnostics.Data.t` from a list to name field
  CHANGES.md
  etc/doc/PROTOCOL.md
  fleche/doc.ml
  lang/diagnostic.ml
  lang/diagnostic.mli
  lsp/jLang.ml
Labels: part: lsp server, part: protocol (custom), kind: cleanup, kind: redesign, part: flèche

#844 Nits refactor fleche
  controller/rq_goals.ml
  fleche/doc.ml
  lang/diagnostic.ml
  lang/diagnostic.mli
  lsp/jLang.ml
Labels: kind: cleanup, kind: internal, part: flèche
