Repository ejgallego/rocq-lsp, pull requests merged in 2024-05, with the labels that each got.

#693 [fleche] Handle performance data correctly for cached sentences
  CHANGES.md
  editor/code/lib/types.ts
  editor/code/views/perf/App.tsx
  etc/doc/PROTOCOL.md
  fleche/doc.ml
  fleche/doc.mli
  fleche/memo.ml
  fleche/memo.mli
  fleche/perf.ml
  fleche/perf.mli
  fleche/perf_analysis.ml
  fleche/stats.ml
  fleche/stats.mli
Labels: part: protocol (custom), kind: fix, kind: redesign, kind: performance, part: flèche

#694 [code] [types] Generalize TS perf datatype.
  editor/code/lib/types.ts
  editor/code/src/perf.ts
  editor/code/views/perf/App.tsx
  editor/code/views/perf/index.tsx
  editor/code/views/perf/tsconfig.json
  etc/doc/PROTOCOL.md
Labels: kind: bug, part: build, part: client (VSCode), part: protocol (custom), kind: fix, kind: cleanup, kind: internal, part: plugin API, notification: perf

#700 bump ocamlformat
  .ocamlformat
Labels: part: build, kind: internal, kind: meta, part: ocaml

#701 [code] Display JSON data for `coq-lsp.document` in new editor.
  CHANGES.md
  editor/code/package.json
  editor/code/src/client.ts
Labels: kind: enhancement, part: client (VSCode), part: protocol (custom), kind: HCI design

#702 [lsp] Update server settings on the fly.
  CHANGES.md
  controller/lsp_core.ml
  controller/rq_init.ml
  controller/rq_init.mli
  editor/code/src/client.ts
  etc/doc/PROTOCOL.md
Labels: kind: enhancement, part: client (VSCode), part: lsp server, part: protocol (LSP), kind: fix, part: config

#704 [coq] Add .vo library file functions
  CHANGES.md
  coq/library_file.ml
  coq/library_file.mli
Labels: kind: enhancement, kind: upstream, kind: internal, kind: upstream-bug, part: Coq API

#703 [petanque] Initial commit, as an OCaml library
  CHANGES.md
  CONTRIBUTING.md
  README.md
  compiler/compile.ml
  compiler/util.mli
  coq/goals.ml
  coq/goals.mli
  coq/library_file.ml
  coq/library_file.mli
  fleche/compat.ml
  fleche/compat.mli
  petanque/README.md
  petanque/agent.ml
  petanque/agent.mli
  petanque/dune
  petanque/test/basic_api.ml
  petanque/test/dune
  petanque/test/test.v
Labels: kind: enhancement, part: petanque

#706 [contents] Move helper function to contents module.
  fleche/contents.ml
  fleche/contents.mli
  plugins/goaldump/main.ml
Labels: kind: cleanup, kind: internal, part: plugin API, part: flèche, part: plugins

#708 [code] Correctly dispose even if client shutdown fails.
  CHANGES.md
  editor/code/src/client.ts
Labels: part: client (VSCode), kind: fix

#709 [fleche] Support Coq Meta Commands Reset and Back
  CHANGES.md
  coq/ast.ml
  coq/ast.mli
  coq/protect.ml
  coq/protect.mli
  etc/doc/USER_MANUAL.md
  examples/MetaCommands.v
  fleche/doc.ml
  fleche/memo.ml
  fleche/memo.mli
Labels: kind: enhancement, kind: upstream, kind: upstream-bug, part: upstream, part: flèche

#707 [ci] Test OCaml 5.2 series.
  .github/workflows/build.yml
Labels: kind: enhancement, part: deps, part: CI, kind: internal, part: ocaml

#711 [fleche] Improve toc to return nodes instead of ranges.
  controller/rq_definition.ml
  fleche/doc.ml
  fleche/doc.mli
  petanque/agent.ml
Labels: kind: enhancement, kind: cleanup, kind: internal, part: flèche

#705 [petanque] Add a JSON-RPC shell
  CHANGES.md
  compiler/fcc.ml
  coq/args.ml
  coq/args.mli
  lsp/base.ml
  lsp/base.mli
  lsp/io.ml
  lsp/io.mli
  lsp/jCoq.ml
  petanque/README.md
  petanque/agent.ml
  petanque/agent.mli
  petanque/json_shell/dune
  petanque/json_shell/interp.ml
  petanque/json_shell/jAgent.ml
  petanque/json_shell/obj_map.ml
  petanque/json_shell/pet.ml
  petanque/json_shell/protocol.ml
  petanque/test/dune
  petanque/test/json_api.ml
Labels: kind: enhancement, part: petanque

#712 [lsp] Rework types a bit before bigger refactoring.
  controller/coq_lsp.ml
  lsp/io.ml
  lsp/io.mli
  petanque/json_shell/pet.ml
Labels: kind: enhancement, part: lsp server, part: protocol (LSP), kind: cleanup, kind: internal

#713 [lsp] Better JSON-RPC serialization
  CHANGES.md
  controller/coq_lsp.ml
  controller/lsp_core.ml
  controller/lsp_core.mli
  lsp/base.ml
  lsp/base.mli
  lsp/io.ml
  lsp/io.mli
  lsp/jFleche.ml
  lsp/jLang.ml
  petanque/json_shell/interp.ml
  petanque/json_shell/pet.ml
  petanque/test/json_api.ml
Labels: kind: enhancement, part: lsp server, kind: cleanup, kind: internal

#714 [limits] Display chosen backend on server init message, select best if no option given.
  compiler/driver.ml
  controller/coq_lsp.ml
  controller/lsp_core.ml
  coq/args.ml
  coq/args.mli
  coq/limits.ml
  coq/limits.mli
  coq/limits_mp_impl.fake.ml
  coq/limits_mp_impl.real.ml
  etc/doc/USER_MANUAL.md
  examples/int_tc_loop.v
Labels: kind: enhancement, part: documentation, kind: internal, part: ocaml, part: Coq API

#715 [petanque] Add an OCaml JSON-RPC petanque client.
  petanque/json_shell/client.ml
  petanque/json_shell/client.mli
  petanque/json_shell/pet.ml
  petanque/test/json_api.ml
Labels: kind: internal, part: petanque

#716 [goals] Fix case when goals request fails.
  editor/code/src/goals.ts
Labels: part: client (VSCode), kind: fix, part: goals and info panel

#717 [fleche] Auto-check documents on scroll when in lazy mode.
  CHANGES.md
  controller/lsp_core.ml
  editor/code/lib/types.ts
  editor/code/package.json
  editor/code/src/client.ts
  editor/code/src/config.ts
  etc/doc/PROTOCOL.md
  etc/doc/USER_MANUAL.md
  fleche/theory.ml
  fleche/theory.mli
  lsp/jLang.mli
Labels: part: client (VSCode), part: lsp server, part: protocol (custom), kind: redesign, kind: HCI design, kind: performance

#719 [code] Wait for shutdown to complete before we start the client again.
  CHANGES.md
  editor/code/src/client.ts
Labels: part: client (VSCode), kind: fix

#718 [code] Add keybindings for sentenceNext / sentencePrevious
  CHANGES.md
  editor/code/package.json
  editor/code/src/client.ts
  editor/code/src/edit.ts
  etc/doc/USER_MANUAL.md
Labels: kind: enhancement, part: client (VSCode), kind: HCI design

#699 [vscode] cleanup command names
  editor/code/package.json
Labels: kind: enhancement, part: client (VSCode), part: documentation, kind: cleanup

#722 Give focus back to Goals panel when navigating proofs
  editor/code/CHANGELOG.md
  editor/code/src/goals.ts
Labels: part: client (VSCode), kind: fix, part: goals and info panel

#723 [coq] [loader] Update plugin table.
  coq/loader.ml
Labels: kind: fix, kind: internal, part: Coq API

#725 [code] Preserve original focus when refocusing the panel.
  CHANGES.md
  editor/code/CHANGELOG.md
  editor/code/src/goals.ts
Labels: part: client (VSCode), kind: fix, part: goals and info panel

#724 [compiler] Allow control of Coq's info and notice messages.
  CHANGES.md
  compiler/args.ml
  compiler/driver.ml
  compiler/fcc.ml
  compiler/output.ml
  compiler/output.mli
  coq/args.ml
  coq/args.mli
  test/compiler/basic/run.t
  test/compiler/exit_code/run.t
Labels: kind: enhancement, part: compiler

#509 [coq] Support for token-based interruption
  README.md
  coq/limits.ml
  etc/doc/USER_MANUAL.md
Labels: kind: enhancement, part: lsp server, kind: upstream, kind: internal, part: upstream, part: ocaml, part: Coq API

#721 [code] Display and allow status bar item to toggle continuous / lazy …
  CHANGES.md
  editor/code/src/client.ts
Labels: kind: enhancement, part: client (VSCode), kind: HCI design

#611 [doc] [example] Example of a setup with multiple workspaces.
  CHANGES.md
  etc/doc/USER_MANUAL.md
  examples/multiple_workspaces/README.md
  examples/multiple_workspaces/bar/_CoqProject
  examples/multiple_workspaces/bar/barx.v
  examples/multiple_workspaces/bar/bary.v
  examples/multiple_workspaces/example.code-workspace
  examples/multiple_workspaces/foo/_CoqProject
  examples/multiple_workspaces/foo/foox.v
  examples/multiple_workspaces/foo/fooy.v
Labels: kind: enhancement, part: documentation, part: workspace setup

#729 update chicken.jpg
  examples/chicken.jpg
Labels: part: test-suite, kind: fix

#731 [goals] Don't open goals levels by default.
  CHANGES.md
  editor/code/views/info/Goals.tsx
  examples/goals.v
Labels: part: client (VSCode), kind: fix, part: goals and info panel, kind: HCI design

#732 [lsp] Fix typo in response parsing.
  lsp/base.ml
Labels: kind: bug, part: lsp server, part: protocol (LSP), kind: fix

#697 Add a Petanque TCP server
  .github/workflows/build.yml
  CHANGES.md
  coq-lsp.opam
  petanque/README.md
  petanque/json_shell/dune
  petanque/json_shell/pet.ml
  petanque/json_shell/server.ml
  petanque/json_shell/utils.ml
Labels: kind: enhancement, part: petanque

#735 [petanque] Return extra premise information.
  CHANGES.md
  compiler/compile.ml
  coq/compat.ml
  coq/compat.mli
  coq/glob.ml
  coq/glob.mli
  coq/library_file.ml
  coq/library_file.mli
  petanque/agent.ml
  petanque/agent.mli
  petanque/json_shell/jAgent.ml
  petanque/json_shell/protocol.ml
  petanque/test/basic_api.ml
  petanque/test/json_api.ml
  petanque/test/json_api_failure.ml
Labels: kind: enhancement, needs: progress, part: petanque

#728 [code] Show server status using LanguageStatusItem
  CHANGES.md
  README.md
  compiler/output.ml
  controller/coq_lsp.ml
  controller/lsp_core.ml
  controller/lsp_core.mli
  editor/code/lib/types.ts
  editor/code/package.json
  editor/code/src/client.ts
  editor/code/src/status.ts
  etc/doc/PROTOCOL.md
  etc/doc/USER_MANUAL.md
  etc/img/on_demand.gif
  fleche/config.ml
  fleche/io.ml
  fleche/io.mli
  fleche/serverInfo.ml
  fleche/theory.ml
  lsp/base.ml
  lsp/base.mli
  lsp/jFleche.ml
  lsp/jFleche.mli
  lsp/jLang.ml
  lsp/jLang.mli
  petanque/agent.ml
Labels: kind: enhancement, part: client (VSCode), part: lsp server, part: protocol (custom), kind: redesign, kind: HCI design, part: flèche, notification: status

#736 [doc] Release notes for 0.1.9
  CHANGES.md
  README.md
  editor/code/CHANGELOG.md
  etc/release_notes/0.1.9.md
Labels: part: documentation, kind: meta

#740 [code] Fix package.json to include .v.tex files.
  CHANGES.md
  README.md
  editor/code/package.json
Labels: part: client (VSCode), kind: fix

#742 [coq-lsp] Release 0.1.10
  CHANGES.md
  editor/code/CHANGELOG.md
  editor/code/package.json
Labels: part: build, kind: meta
