Repository ejgallego/rocq-lsp, pull requests merged in 2024-10, with the labels that each got.

#826 Adapt to coq/coq#19575 (ltac2 parsing uses attributes)
  serlib/plugins/ltac2/ser_tac2expr.ml
Labels: kind: upstream, part: upstream

#845 [coq] Abstract the feedback / error payloads better.
  controller/request.ml
  controller/rq_goals.ml
  coq/init.ml
  coq/message.ml
  coq/message.mli
  coq/protect.ml
  coq/protect.mli
  coq/workspace.ml
  fleche/doc.ml
  fleche/doc.mli
  petanque/agent.ml
  plugins/explain_errors/main.ml
  plugins/goaldump/main.ml
Labels: kind: cleanup, kind: internal, part: Coq API

#847 [petanque] Fix bug for detection of proof finished in deep stacks
  CHANGES.md
  petanque/agent.ml
  petanque/test/basic_api.ml
  petanque/test/test.v
Labels: kind: fix, part: petanque

#823 [goals] Allow `command` to process several Coq commands.
  CHANGES.md
  controller/rq_goals.ml
  etc/doc/PROTOCOL.md
  fleche/doc.ml
  fleche/doc.mli
  petanque/agent.ml
  petanque/test/basic_api.ml
Labels: kind: enhancement, kind: internal, lsp: goals, part: flèche

#848 [meta] Release 0.2.1
  CHANGES.md
  CONTRIBUTING.md
  editor/code/CHANGELOG.md
  editor/code/package-lock.json
  editor/code/package.json
  fleche/version.ml
Labels: part: documentation, kind: meta

#853 [fleche] fix quick fixes for errors being lost
  CHANGES.md
  fleche/doc.ml
Labels: kind: fix, needs: test-case, part: flèche

#863 Adapt to coq/coq#19726 (removed some unused genargs)
  serlib/plugins/funind/ser_g_indfun.ml
Labels: kind: upstream, part: serlib

#864 Adapt to coq/coq#19617 (Vernacexpr.print_universes)
  serlib/ser_vernacexpr.ml
  serlib/ser_vernacexpr.mli
Labels: kind: upstream, part: serlib

#867 Adapt to coq/coq#19687 (ltac2 in ltac1 genargs moved)
  serlib/plugins/ltac2/ser_tac2env.ml
  serlib/plugins/ltac2_ltac1/dune
  serlib/plugins/ltac2_ltac1/ser_tac2core_ltac1.ml
Labels: kind: upstream, part: serlib
