Repository ejgallego/rocq-lsp, pull requests merged in 2025-05, with the labels that each got.

#949 Adapt to rocq-prover/rocq#20605 (cleaned up projection flags)
  serlib/ser_vernacexpr.ml
Labels: kind: upstream, part: upstream, part: serlib, kind: overlay

#953 [theory] Rename `create` to more accurate `open`
  compiler/compile.ml
  controller/lsp_core.ml
  fleche/theory.ml
  fleche/theory.mli
Labels: kind: internal, part: flèche

#955 [hover] New hover display and option `show_state_hash_on_hover`
  CHANGES.md
  controller/rq_hover.ml
  coq/state.ml
  editor/code/package.json
  editor/code/src/config.ts
  fleche/config.ml
Labels: kind: internal, lsp: hover, part: flèche, part: Coq API

#846 [faq] Update FAQ for VsCoq 2 release.
  CHANGES.md
  etc/FAQ.md
Labels: kind: enhancement, kind: fix, part: documentation

#926 VSCode extension keybindings shouldn't conflict with editor defaults.
  CHANGES.md
  editor/code/package.json
Labels: kind: bug, part: client (VSCode), kind: fix, platform: macOS

#957 [rocq] Disable memprof-limits interruption backend by default
  CHANGES.md
  controller/lsp_core.ml
  coq/limits.ml
  coq/version.ml
  coq/version.mli
  fleche/doc.mli
Labels: kind: fix, kind: upstream, kind: upstream-bug, part: upstream, part: Coq API

#959 [controller] [lsp] Include Rocq feedback on request errors.
  CHANGES.md
  controller/dune
  controller/lsp_core.ml
  controller/request.ml
  controller/request.mli
  controller/rq_action.mli
  controller/rq_completion.mli
  controller/rq_definition.ml
  controller/rq_definition.mli
  controller/rq_document.mli
  controller/rq_goals.mli
  controller/rq_hover.mli
  controller/rq_lens.mli
  controller/rq_selectionRange.mli
  controller/rq_symbols.mli
  etc/doc/PROTOCOL.md
  lsp/base.ml
  lsp/base.mli
  petanque/json/dune
  petanque/json/interp.ml
  petanque/json/interp.mli
  petanque/json_shell/interp_shell.ml
Labels: kind: enhancement, part: lsp server, part: protocol (LSP), kind: cleanup, kind: internal, part: petanque

#961 [fleche] [lsp] Uniformize feedback type with message, bugfixes for #961
  CHANGES.md
  controller/lsp_core.ml
  controller/request.ml
  controller/request.mli
  controller/rq_definition.ml
  controller/rq_goals.ml
  controller/rq_hover.ml
  controller/rq_save.ml
  etc/doc/PROTOCOL.md
  fleche/doc.ml
  fleche/doc.mli
  fleche/info.ml
  fleche/io.ml
  fleche/io.mli
  lsp/base.ml
  lsp/base.mli
  lsp/jFleche.ml
  lsp/jFleche.mli
  petanque/json_shell/interp_shell.ml
Labels: kind: enhancement, part: lsp server, part: protocol (LSP), kind: fix, kind: cleanup, part: flèche

#960 [petanque] Add feedback field to errors and `Run_result.t`
  CHANGES.md
  controller/request.ml
  controller/request.mli
  petanque/agent.ml
  petanque/agent.mli
  petanque/dune
  petanque/json/interp.ml
  petanque/json/interp.mli
  petanque/json/jAgent.ml
  petanque/json/protocol.ml
  petanque/json_shell/interp_shell.ml
  petanque/json_shell/interp_shell.mli
  petanque/json_shell/pet.ml
  petanque/json_shell/server.ml
  petanque/json_shell/shell.ml
  petanque/json_shell/shell.mli
  petanque/test/basic_api.ml
  petanque/test/json_api.ml
  petanque/test/test.v
Labels: kind: enhancement, kind: fix, kind: cleanup, part: petanque

#962 [petanque] Add `get_state` calls
  CHANGES.md
  controller/lsp_core.ml
  petanque/agent.ml
  petanque/agent.mli
  petanque/json/interp.ml
  petanque/json/interp.mli
  petanque/json/protocol.ml
  petanque/json_shell/client.ml
  petanque/json_shell/client.mli
  petanque/json_shell/interp_shell.ml
Labels: kind: enhancement, needs: test-case, part: petanque

#966 [petanque] Improve type for get_state_at_pos, add a test
  lsp/base.ml
  lsp/base.mli
  petanque/agent.ml
  petanque/agent.mli
  petanque/json/protocol.ml
  petanque/test/json_api.ml
Labels: part: test-suite, kind: cleanup, part: petanque
