Repository ejgallego/rocq-lsp, pull requests merged in 2025-01, with the labels that each got.

#887 Adapt w.r.t. coq/coq#19995.
  serlib/ser_declarations.ml
  serlib/ser_declarations.mli
  serlib/ser_environ.ml
  serlib/ser_mod_declarations.ml
  serlib/ser_mod_declarations.mli
  serlib/ser_safe_typing.ml
Labels: kind: upstream, part: upstream, part: serlib

#889 Remove a now internal type from Declarations.
  serlib/ser_declarations.ml
  serlib/ser_declarations.mli
Labels: kind: upstream, part: upstream

#892 [misc] [ci] [windows] Some more nits form Rocq / Coq migration
  .github/workflows/build.yml
  Makefile
  coq/workspace.ml
  petanque/README.md
  petanque/test/dune
  test/compiler/basic/dune
  test/compiler/basic/run.t
  test/compiler/exit_code/dune
  test/compiler/exit_code/run.t
  test/compiler/long_file/dune
  test/compiler/long_file/run.t
  test/serlib/genarg/dune
Labels: part: test-suite, kind: fix, part: CI, kind: internal, platform: windows

#896 Adapt to coq/coq#20152 (Declarations.declaratino_arity doesn't exist)
  serlib/ser_declarations.ml
  serlib/ser_declarations.mli
Labels: kind: upstream, part: upstream, part: serlib
