Repository ejgallego/rocq-lsp, pull requests merged in 2025-07, with the labels that each got.

#958 Adapt to rocq-prover/rocq#20644 (less GADT in constr_pattern)
  serlib/ser_pattern.ml
  serlib/ser_pattern.mli
Labels: kind: upstream, part: upstream, part: serlib, kind: overlay

#991 put back controller-js/dune
  controller-js/dune
Labels: part: build, kind: fix, part: web worker

#994 [lsp] Don't raise on URI parsing error.
  CHANGES.md
  lsp/jLang.ml
  serlib/serlib_base.ml
Labels: part: lsp server, part: protocol (LSP), kind: fix

#1000 [fleche] [io] [nit] Improve logging for unexpected feedback.
  fleche/io.ml
Labels: kind: internal, part: flèche, part: Coq API

#999 [lsp] Return executed sentence info in goal request.
  CHANGES.md
  CONTRIBUTING.md
  controller/rq_completion.ml
  controller/rq_goals.ml
  controller/unicode_bindings.ml
  editor/code/package.json
  editor/code/src/config.ts
  etc/doc/PROTOCOL.md
  fleche/config.ml
  lsp/jFleche.ml
Labels: kind: enhancement, part: lsp server, part: protocol (custom), needs: test-case, lsp: goals

#1001 Revert "[lsp] Return executed sentence info in goal request."
  CHANGES.md
  CONTRIBUTING.md
  controller/rq_completion.ml
  controller/rq_goals.ml
  controller/unicode_bindings.ml
  editor/code/package.json
  editor/code/src/config.ts
  etc/doc/PROTOCOL.md
  fleche/config.ml
  lsp/jFleche.ml
Labels: kind: internal

#996 Adapt to rocq-prover/rocq#20926 (notations code movement)
  serlib/plugins/syntax/ser_g_number_syntax.ml
  serlib/plugins/syntax/ser_number_string.ml
  serlib/ser_notation_gram.ml
  serlib/ser_primNotations.ml
  serlib/ser_primNotations.mli
Labels: kind: upstream, part: upstream, part: serlib, kind: overlay
