Repository ejgallego/rocq-lsp, pull requests merged in 2025-02, with the labels that each got.

#899 [fleche] Minor cleanups in scheduling logging
  controller/lsp_core.ml
  fleche/debug.ml
  fleche/doc.ml
  fleche/doc.mli
  fleche/theory.ml
Labels: kind: cleanup, kind: internal, part: flèche

#900 [internal] [build] Bump version to 2.2.3-dev
  editor/code/package-lock.json
  editor/code/package.json
  fleche/version.ml
Labels: part: build, kind: internal, kind: meta

#901 [petanque] Fix `petanque/start` when a theorem is parsed but has errors
  CHANGES.md
  petanque/agent.ml
  petanque/test/basic_api.ml
  petanque/test/test.v
Labels: kind: fix, part: petanque

#903 [ci] Use fixed ocamlfind package in Windows CI
  .github/workflows/build.yml
  coq-lsp.opam
Labels: kind: fix, part: packaging, part: deps, kind: cleanup, part: CI

#904 [ci] Test OCaml 5.3
  .github/workflows/build.yml
  CHANGES.md
Labels: kind: enhancement, part: build, part: CI, kind: internal, part: ocaml

#902 Adapt to coq/coq#20178 (inductive_arity doesn't exist)
  serlib/ser_declarations.ml
  serlib/ser_declarations.mli
Labels: kind: upstream, kind: internal, part: upstream, part: serlib

#911 [vscode] [web] Fix web extension not exporting the coq-lsp API
  CHANGES.md
  editor/code/src/browser.ts
Labels: part: client (VSCode), kind: fix, platform: browser

#912 [build] [general] Rename our internal `Lsp` library to `Fleche_lsp`
  CHANGES.md
  compiler/dune
  compiler/output.ml
  controller-js/coq_lsp_worker.ml
  controller/dune
  controller/lsp_core.ml
  controller/lsp_core.mli
  controller/rq_action.ml
  controller/rq_completion.ml
  controller/rq_definition.ml
  controller/rq_document.ml
  controller/rq_goals.ml
  controller/rq_hover.ml
  controller/rq_init.ml
  controller/rq_lens.ml
  controller/rq_selectionRange.ml
  controller/rq_symbols.ml
  fleche/doc.ml
  fleche/doc.mli
  lsp/dune
  petanque/json/dune
  petanque/json/jAgent.ml
  petanque/json/protocol.ml
  petanque/json_shell/client.ml
  petanque/json_shell/dune
  petanque/json_shell/interp_shell.ml
  petanque/json_shell/interp_shell.mli
  petanque/json_shell/pet.ml
  petanque/json_shell/protocol_shell.ml
  petanque/json_shell/server.ml
  petanque/test/dune
  plugins/astdump/main.ml
  plugins/goaldump/main.ml
Labels: part: protocol (LSP), kind: fix, part: packaging, part: deps, kind: redesign, kind: internal, part: ocaml

#916 [coq] [workspace] Remove machinery for old-style manual ML path handling
  CHANGES.md
  compiler/driver.ml
  compiler/fcc.ml
  controller-js/coq_lsp_worker.ml
  controller/coq_lsp.ml
  coq/args.ml
  coq/args.mli
  coq/workspace.ml
  coq/workspace.mli
  petanque/json_shell/shell.ml
  test/compiler/basic/run.t
  test/compiler/exit_code/run.t
  test/compiler/long_file/run.t
Labels: kind: upstream, kind: cleanup, part: workspace setup, part: upstream, part: Coq API

#917 [ci] [web worker] Build Web Worker with patched Coq in stable versions.
  Makefile
Labels: kind: enhancement, part: build, part: packaging, part: CI, part: upstream, platform: browser

#918 [ci] [web worker] Build Web Worker with patched Coq in stable versions.
  .github/workflows/build.yml
  Makefile
Labels: part: build, part: CI, platform: browser
